* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.module {
  color: #414A4F;
  padding: 120px 80px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.module--gray {
  background-color: #F7F7F7;
}

.module--centered {
  align-items: center;
  justify-content: center;
}

.module--full-height {
  min-height: 100vh;
}

.module--hero {
  background: url(../img/main.jpg) no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  padding: 0;
}

.main-header {
  padding: 60px 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.logo {
  font-size: 26px;
}

.nav-bar__list {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-bar__item {
  align-self: center;
  margin: 0 15px;
  font-size: 18px;
}

.nav-bar__item:first-of-type {
  margin: 0 15px 0 0;
}

.nav-bar__item:last-of-type {
  margin: 0 0 0 15px;
}


.hero-promo:before {
  flex: 1 1 33%;
}

.hero-promo {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Quicksand, sans-serif;
  opacity: 0;
  animation: 1s slidefade 1s forwards;
  margin-top: 100px;
}

.hero-promo:after {
  flex: 1 1 33%;
}

.hero-promo__header,
.hero-promo__description {
  padding-bottom: 60px;
}

.hero-promo__header {
  font-size: 64px;
  text-align: center;
}

.hero-promo__description {
  font-size: 32px;
  text-align: center;
}

.btn {
  width: 300px;
  height: 59px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 16px;
  background-color: #0288D1;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.section-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-promo__header {
  font-size: 32px;
  text-transform: capitalize;
}

.section-promo__description {
  font-family: sans-serif;
  line-height: 32px;
  text-align: center;
}

.section-promo__header,
.section-promo__description {
  margin-bottom: 32px;
}

.divider {
  width: 150px;
  border: inset #0288D1 1px;
  margin: 0 auto 48px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

.grid--spaced {
  justify-content: space-around;
}

.grid__cell {
  list-style-type: none;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.grid__cell--image {
  height: 350px;
}

.grid__cell--image-large {
  flex-basis: 60%;
}

.grid__cell--image-small {
  flex-basis: 40%;
}

.grid__cell--one-third {
  flex-basis: 33%;
}

.grid__cell--centered {
  text-align: center;
}

.cell__icon {
  font-size: 50px;
}

.cell__icon--blue {
  color: #0288D1;
}

.cell__title {
  font-size: 20px;
  margin: 18px 0;
}

.quote__content,
.quote__author {
  text-align: center;
}

.quote__content {
  font-size: 22px;
  max-width: 800px;
  margin-bottom: 16px;
}

.quote__author {
  font-size: 18px;
  margin-bottom: 48px;
}

.newsletter-form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.newsletter-form__input {
  width: 33%;
  padding: 15px;
  margin-right: 30px;
}

.main-footer__social-icons {
  justify-content: center;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #555;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #555;
  opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #555;
  opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #555;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:    #555;
}

.main-footer {
  background-color: #414a4f;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.grid--social-icons {
  font-size: 32px;
}


.main-footer__credits a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1000px) {
  .main-header {
    padding: 30px 22.5px 0;
  }

  .hero-promo__header {
    font-size: 48px;
  }

  .hero-promo__description {
    font-size: 24px;
  }

  .grid {
    flex-flow: column;
  }

  .grid--social-icons {
    flex-flow: row;
  }

  .newsletter-form {
    flex-flow: column;
  }

  .newsletter-form__input {
    margin-right: 0;
    margin-bottom: 30px;
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .module--hero {
    min-height: 600px;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Mozilla */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Chrome and Safari */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@-moz-keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@-webkit-keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@-o-keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
